<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title></title>
  <link rel="stylesheet" href="/static/css/css.css">
  <link rel="stylesheet" href="/static/css/bootstrap.min.css">
   <link rel="stylesheet" type="text/css" href="/static/css/jquery-confirm.css" />
  <style>
  .jconfirm.jconfirm-white .jconfirm-bg {background-color: rgba(0, 0, 0, 1);}
  </style>
  <script src="/static/js/jquery-1.11.0.min.js"></script>
  <script src="/static/js/jquery-confirm.js"></script>
  <script src="/static/js/promise.min.js"></script>
  <script>
  //创建图片加载模型
   function modelLoadPhoto(i,folder) {
        return new Promise(function(resolve, reject) {
           setTimeout(function(){
              $.get('./single/'+folder,function(result){
                if(result.file!=''){
                  $(".eachphoto").eq(i).attr("src",result.file);
                  $(".eachfdcount").eq(i).html('&nbsp; ( '+result.len+' )');
                }else{
                   $(".eachphoto").eq(i).attr("src",'/static/images/folders.jpg');
                   $(".eachfdcount").eq(i).text('');
                }
            });
           },300*i);
        });
   };

  $(function(){

      //定义1个任务进度
     var alltask = [];

     //注入任务
     $(".eachphoto").each(function(i){ 
        var folder =  $(".eachphoto").eq(i).attr("folder");
        alltask.push(modelLoadPhoto(i,folder));
     });
     
     //执行队列
     Promise.all(alltask).then(function(){});
  });

  function addFolder(){
      $.alert({
        content: '<input type="text" class="form-control" id="newfolder"/><br/><button onclick="addFolderSubmit()" class="btn btn-success btn-sm">添加</button>',
        title: '添加相册文件夹',
        cancelButton: false,
        confirmButton: false
    });
  }
  function addFolderSubmit(){
    var newfolder=  $("#newfolder");
    if(newfolder.val()!=''){
      $.get('/folder/add/'+newfolder.val(),function(status){
         if(status.status==1){
            var alert = $.alert({
                  content:'添加成功',
                  title: '',
                  confirmButton: false
               });
          setTimeout(function(){window.location.href=window.location.href;},1200);
         }else{
              var alert = $.alert({
                  content:'文件夹可能已经存在或权限问题',
                  title: '',
                  confirmButton: false
               });
            setTimeout(function(){alert.close();},1200);
         }
      });
    }else{
      newfolder.focus();
    }
  }
  </script>
</head>
<body>
  <%-include("menu",{folder:'share'})%>
  <div class="jumbotron alert alert-warning">
    <div class="container">
 <%for(var i=0;i<folders.length;i++){%>
      <div class="photos">
        <a href="/photos/<%=folders[i]%>">
           <img class='eachphoto' folder="<%=folders[i]%>" title="<%=folders[i]%>" src="/static/images/loading.gif" style="width:160px;"><br/>
          
        </a>
         <div class="badge"><%=folders[i]%><span class="eachfdcount"></span></div>
        <a href="/upload/<%=folders[i]%>" class="btn btn-sm btn-success upload">Upload</a>
      </div>
      <%}%>
      <div class="photos">
      <a href="javascript:addFolder()"><img src="/static/images/folder-add.png"></a>
       <div class="badge">添加相册文件夹</div>
      </div>
    </div>
  </div>
</body>
</html>